* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    background-color: #1c223b;
    color: #fff;


}

.container {
    width: 1000px;
    /* border: 1px solid yellow; */
    background-color: #273349;
    width: 1000px;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
    margin: auto;
}

table {
    color: #e2e2e2;
    padding: 10px;
    width: 100%;
    border-spacing: 0px 2px;
}


table th,
table td {
    padding: 15px;
    text-align: left;
}

table tbody tr {
    background-color: #1c223b;
}

table tbody tr:hover {
    background-color: #58679c;
    opacity: 0.5;
}

table tbody tr td:first-child {
    /* border-radius: 5px 0px 0px 5px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

table tbody tr td:last-child {
    /* border-radius: 5px 0px 0px 5px;  왼쪽 모서리부터*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

table tbody tr.priority-200 td:first-child {
    border-left: 8px solid #9c7c64;
}

table tbody tr.priority-300 td:first-child {
    border-left: 8px solid #4b6b68;
}

table tbody tr.priority-600 td:first-child {
    border-left: 8px solid #b1cc7e;
}

table tbody .fa-circle {
    transform: scale(0.5);
    /* font-size: 5px; */
}

/* td 빠져도 가능 */
.priority-600 td .fa-circle {
    color: #b1cc7e;
}

.priority-300 td .fa-circle {
    color: #4b6b68;
}

.priority-200 td .fa-circle {
    color: #9c7c64;
}

.deleted {
    background: #232c4c;
    border: none;
    border-radius: 2px;
    color: #909090;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    opacity: 0;
}

/* tr호버된것에 deleted */
tr:hover .deleted {
    opacity: 1;
}

td button.deleted {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

@media (max-width:768px) {
    .container {
        padding: 20px;
    }

    table th:nth-child(3),
    table td:nth-child(3) {

        display: none;
    }
}